{{#section "foot"}}
    <script src="{{@static_url}}/scripts/index.js"></script>
{{/section}}

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="photo">
</div>
<div compile="testHtml"></div>

<clickable foo="foo" bar="bar"></clickable>


<button ng-click="open()">点击打开</button>
<ul>
    <li ng-repeat="item in list" ng-show="bTrue">
        <div ng-bind="$index"></div>
        <div class="photo">
        </div>
        <video poster="\{{add(item)}}">
            <source ng-src="\{{add(item)}}"/>
        </video>
    </li>
</ul>