{{#section "foot"}}
    <script src="{{@static_url}}/scripts/index.js"></script>
{{/section}}

<h1>{{title}}</h1>
<p>Welcome to {{title}} <a href="/users/login">点击登录</a></p>
<div class="photo">
</div>
<div compile="testHtml"></div>

<clickable foo="foo" bar="bar" test-data="testData"></clickable>

<input ng-model="name" />
Name updated: \{{updated}} times.


<input ng-model="user.name" />
userName updated: \{{userUpdated}} times.


<p>点击查看数据：<a href="/users/check">查看排行榜</a></p>