<!DOCTYPE html>
<html ng-app="app">

  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='{{@static_url}}/styles/style.css' />
      {{{sections.head}}}
  </head>

  <body ng-controller="MainController">
    {{{body}}}
    <script src="{{@static_url}}/scripts/common.js"></script>
    <script src="{{@static_url}}/lib/angular.js"></script>
    {{{sections.foot}}}
  </body>

</html>